<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="shinado.indi.vender">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="csu.org.dependency.volley.DefaultApplication"
        android:windowSoftInputMode="adjustPan"
        android:clearTaskOnLaunch="true"
        android:stateNotNeeded="true"
        android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" >

        <meta-data android:name="AA_DB_NAME" android:value="vender.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="3" />

        <activity android:name="com.shinado.piping.geek.store.ShoppingActivity"/>
        <activity
            android:launchMode="singleInstance"
            android:theme="@style/LauncherTheme"
            android:name=".base.HackerLauncher"
            android:excludeFromRecents="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
